<td><%- contains %></td>
<td><%- name %></td>
<td><%- category_name %></td>
<td><%= review ? 'Review' : '' %></td>
<td class="text-right"><a class="edit-sorting-rule btn btn-xs btn-default" href="/sorting-rules/<%= id  %>/edit">Edit</a></td>
