<div class="row">
  <div class="col-md-3">
    <strong class="name"><a href="#"><%= name %></a></strong>
  </div>
  <div class="col-md-9">
    <div class="progress">
      <div class="progress-bar <%= progressClass() %>" style="width: <%= progressWidth() %>%;"></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-4 text-muted">
    <small>Spent: <strong><%= accounting.formatMoney(spent) %></strong></small>
  </div>
  <div class="col-xs-4 text-muted">
    <small>Goal: <strong title="<%= accounting.formatMoney(goal_amount) %> per <%= goal_period %>"><%= accounting.formatMoney(goal) %></strong></small>
  </div>
  <% if (overGoal()) { %>
  <div class="col-xs-4 text-danger">
    <small>Overspent: <strong><%= accounting.formatMoney(spent-goal) %></strong></small>
  </div>
  <% } else { %>
  <div class="col-xs-4 text-muted">
    <small>Remaining: <strong><%= accounting.formatMoney(goal-spent) %></strong></small>
  </div>
  <% } %>
</div>
