<span class="pull-right"><strong><%= accounting.formatMoney(balance) %></strong></span>
<h4 class="list-group-item-heading"><a href="/accounts/<%= id %>"><%= name %></a></h4>
<p class="list-group-item-text">
  <small class="text-muted">Updated <time datetime="<%= updated_at %>"><%= moment(updated_at).fromNow() %></time></small>
</p>
