<span class="pull-right">
  <strong><%= accounting.formatMoney(balance) %></strong>
  <% if (unsorted_transaction_count) { %>
    <div class="text-muted text-right"><small><a href="/accounts/<%= id %>/unsorted"><%= unsorted_transaction_count %> unsorted</a></small></div>
  <% } %>
</span>
<h4 class="list-group-item-heading"><a href="/accounts/<%= id %>"><%- name %></a></h4>
<p class="list-group-item-text">
  <small class="text-muted">Updated <time datetime="<%= updated_at %>"><%= moment(updated_at).fromNow() %></time></small>
</p>
