<div class="page-header">
  <div class="pull-right">

    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <span class="glyphicon glyphicon-cog"></span> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu pull-right">
        <li><a href="/accounts/<%= id %>/edit">Edit account</a></li>
        <li><a href="/accounts/<%= id %>/import">Import statement</a></li>
      </ul>
    </div>

  </div>
  <h1><%= name %> <small><%= type %></small></h1>
  <small><%= number %></small>
</div>

<ul class="nav nav-tabs nav-justified">
  <li><a href="#sorted-transactions" data-toggle="tab">Sorted</a></li>
  <li><a href="#unsorted-transactions" data-toggle="tab">Unsorted</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane" id="sorted-transactions"></div>
  <div class="tab-pane" id="unsorted-transactions"></div>
</div>

