<div class="page-header">
  <div class="pull-right">

    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <span class="glyphicon glyphicon-cog"></span> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu pull-right">
        <li><a href="/accounts/<%= id %>/edit">Edit account</a></li>
        <li><a href="/accounts/<%= id %>/import">Import statement</a></li>
      </ul>
    </div>

  </div>
  <h1><%= name %> <small><%= type %></small></h1>
  <small><%= number %></small>
</div>

<table class="table" id="transactions">
  <thead>
    <tr>
      <th>Date</th>
      <th>Name</th>
      <th>Memo</th>
      <th>Type</th>
      <th>Spent</th>
      <th>Received</th>
    </tr>
  </thead>

  <tbody></tbody>
</table>

<div class="pager-region"></div>
