<td><%- name %></td>
<td><%- category_name %></td>
<td><%= spendAmount() %></td>
<td><%= receiveAmount() %></td>
<td class="text-right"><a href="/payments/<%= id %>/edit" class="edit-payment btn-xs btn btn-default" title="Edit Payment">Edit</a></td>
