<div class="container-fluid">

  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-menu">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <a class="navbar-brand" href="<%= DotLedger.path.root() %>"><span class="fa fa-circle"></span> Dot Ledger</a>
  </div>

  <div class="collapse navbar-collapse" id="main-nav-menu">
    <ul class="nav navbar-nav">
      <li class="<%= activeClass('root') %>"><a href="<%= DotLedger.path.root() %>">Dashboard</a></li>
      <li class="dropdown <%= activeClass('showAccount', 'newAccount', 'editAccount', 'importStatement', 'listStatements') %>">
        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Accounts</a>
          <ul class="dropdown-menu">
            <% accounts().each(function(account) { %>
              <li><a href="<%= DotLedger.path.showAccount({id: account.get('id')}) %>"><%- account.get('name') %></a></li>
            <% }) %>
          </ul> 
        </li>
      </li>
      <li class="<%= activeClass('listGoals') %>"><a href="<%= DotLedger.path.listGoals() %>">Goals</a></li>
      <li class="<%= activeClass('listPayments', 'newPayment', 'editPayment') %>"><a href="<%= DotLedger.path.listPayments() %>">Payments</a></li>
      <li class="<%= activeClass('listCategories', 'newCategory', 'editCategory') %>"><a href="<%= DotLedger.path.listCategories() %>">Categories</a></li>
      <li class="<%= activeClass('listSortingRules', 'newSortingRule', 'editSortingRule') %>"><a href="<%= DotLedger.path.listSortingRules() %>">Sorting Rules</a></li>
      <li class="dropdown <%= activeClass('incomeAndExpenses') %>">
        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Reports</a>
        <ul class="dropdown-menu">
          <li><a href="<%= DotLedger.path.incomeAndExpenses() %>">Income and Expenses</a></li>
        </ul>
      </li>
    </ul>
    <div class="col-sm-12 col-md-3 pull-right text-right" id="nav-search"></div>
  </div>
</div>
