<span class="pull-right text-right">
  <strong><%= DotLedger.Helpers.Format.money(balance) %></strong>
  <% if (unsorted_transaction_count) { %>
    <div class="text-muted"><small><a href="/accounts/<%= id %>?tab=unsorted"><%= unsorted_transaction_count %> unsorted</a></small></div>
  <% } else { %>
    <div class="text-success"><small>sorted! <span class="fa fa-check-circle"></span></small></div>
  <% } %>
</span>
<h4 class="list-group-item-heading"><a href="/accounts/<%= id %>"><%- name %></a></h4>
<p class="list-group-item-text">
  <small class="text-muted">Updated <time datetime="<%= updated_at %>"><%= DotLedger.Helpers.Format.agoDate(updated_at) %></time></small>
</p>
