<div class="page-header">
  <div class="pull-right">

    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <span class="fa fa-cog"></span> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu pull-right">
        <li><a href="<%= DotLedger.path.sortAccount({id: id}) %>">Sort transactions</a></li>
        <li><a href="<%= DotLedger.path.editAccount({id: id}) %>">Edit account</a></li>
        <li><a href="<%= DotLedger.path.newStatement({id: id}) %>">Import statement</a></li>
        <li><a href="<%= DotLedger.path.listStatements({id: id}) %>">Statements</a></li>
      </ul>
    </div>

  </div>
  <h1><%- name %> <small><%= DotLedger.Helpers.Format.money(balance) %></small></h1>
  <small>
    <% if (account_group_name) { %>
      <%= account_group_name %> &mdash;
    <% } %>
    <%= type %> &mdash; <%= number %>
  </small>
  <small class="text-muted pull-right">Updated <time datetime="<%= updated_at %>"><%= DotLedger.Helpers.Format.agoDate(updated_at) %></time></small>
</div>

<div id="graph"></div>

<div class="panel panel-default">
  <div class="panel-heading">
    <ul class="nav nav-pills nav-justified">
      <li><a href="#" data-tab="sorted">Sorted <span class="badge pull-right"><%= sorted_transaction_count %></span></a></li>
      <li><a href="#" data-tab="review">Review <span class="badge pull-right"><%= review_transaction_count %></span></a></li>
      <li><a href="#" data-tab="unsorted">Unsorted <span class="badge pull-right"><%= unsorted_transaction_count %></span></a></li>
    </ul>
  </div>

  <div class="panel-body has-table">
    <div class="tab-content">
      <div class="tab-pane active" id="transactions"></div>
    </div>
  </div>
</div>
