<div class="page-header">
  <div class="pull-right">

    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <span class="fa fa-cog"></span> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu pull-right">
        <li><a href="/accounts/<%= id %>/sort">Sort transactions</a></li>
        <li><a href="/accounts/<%= id %>/edit">Edit account</a></li>
        <li><a href="/accounts/<%= id %>/import">Import statement</a></li>
      </ul>
    </div>

  </div>
  <h1><%- name %> <small><%= accounting.formatMoney(balance) %></small></h1>
  <small><%= type %> &mdash; <%= number %></small>
</div>

<div class="balance">
  <div class="graph"></div>
  <div class="tooltip top fade">
    <div class="tooltip-inner"></div>
    <div class="tooltip-arrow"></div>
  </div>
</div>
<hr>

<ul class="nav nav-tabs nav-justified">
  <li><a href="/accounts/<%= id %>/sorted" data-tab-id="sorted-transactions">Sorted <span class="badge pull-right"><%= sorted_transaction_count %></span></a></li>
  <li><a href="/accounts/<%= id %>/review" data-tab-id="review-transactions">Review <span class="badge pull-right"><%= review_transaction_count %></span></a></li>
  <li><a href="/accounts/<%= id %>/unsorted" data-tab-id="unsorted-transactions">Unsorted <span class="badge pull-right"><%= unsorted_transaction_count %></span></a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="transactions"></div>
</div>
