<!DOCTYPE html>
<html>
<head>
  <title>Rahani</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= include_gon :init => true, :namespace => 'RahaniData' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
