<!DOCTYPE html>
<html>
<head>
  <title>Dot Ledger</title>
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= include_gon :init => true, :namespace => 'DotLedgerData' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
